<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
namespace=""  mapper接口的路径对应
-->
<mapper namespace="com.qf.dao.CartMapper">
    
    <select id="findCartCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select sum(shop_count) from cart where u_id=#{uid};
    </select>

</mapper>